<div class="row">
  <div class="col-md-12">
	  <img src="" alt="" class="img-responsive">
  </div>
</div>


<div class="row">
	<div class="col-xs-12">
		<div class="btn-group">
			<button
				type="button"
				class="btm btn-primary dropdown-toggle">
				Manage recipe <span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a href="#">To shopping list</a></li>
				<li><a href="#">Edit item</a></li>
				<li><a href="#">Delete item </a></li>
			</ul>
		</div>
	</div>
</div>

<div class="row">
  <div class="col-xs-12">
    Description
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Recipe
  </div>
</div>
