
<div class="container">
  <div class="row">
    <div class="row-xs-12">

      <!--data binding start-->
   <!-- <app-servers></app-servers>-->
    <!--data binding end-->


    <!-- <app-servers></app-servers> -->
    <!-- <app-warning-alert></app-warning-alert> -->


    <!--data binding ass 2-->
    <!--<app-assignment2></app-assignment2>-->
    <!--data binding ass 2 ends-->
    <!-- component is defined as class to experiment on the styling -->
    <!-- <div class="app-successalert"></div> -->


      <app-hpc></app-hpc>
    <!--<app-assignment3></app-assignment3>-->
  </div>
</div>
